@import "_loader";


.fade-in {
  animation: fadeInUp 500ms cubic-bezier(.3,0,.5,1) forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    margin-top: 20px;
  }
  to {
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



.scale-fade-in {
  display: block !important;
  animation: scaleFadeIn 400ms forwards;
}

@keyframes scaleFadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale3d(.5,.5,.5);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale3d(1,1,1);
  }
}

.scale-fade-out {
  display: block !important;
  animation: scaleFadeOut 400ms forwards;
}

@keyframes scaleFadeOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale3d(1,1,1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale3d(.5,.5,.5);
  }
}


.enable-click-catcher {
  display: block !important;
  animation: fadeIn 800ms forwards;
}
.disable-click-catcher {
  display: block !important;
  animation: fadeOut 400ms forwards;
}


@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


.social-media-list {
  li {
    opacity: 0;
  }
  li:nth-of-type(1) {
    animation: fadeIn 800ms 3300ms forwards;
  }
  li:nth-of-type(2) {
    animation: fadeIn 800ms 3450ms forwards;
  }
  li:nth-of-type(3) {
    animation: fadeIn 800ms 3600ms forwards;
  }
}



.slide-in-left { animation-name: slideInLeft }
@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.slide-in-right { animation-name: slideInRight }
@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.slide-out-left { animation-name: slideOutLeft }
@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

.slide-out-right { animation-name: slideOutRight }
@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}

.active {
  z-index: -1 !important;
}
.active-video {
  display: block !important;
  z-index: 1 !important;
}
